In [5]:
fruit = 'Grape'
char = fruit[1]
print(fruit)
print(char)

Grape
r

In [8]:
len(fruit)
last = fruit[length-1]

NameError: name 'length' is not defined

In [6]:
index = 0
while index < len(fruit):
    letter = fruit[index]
    print(letter)
    index = index + 1

G
r
a
p
e

In [9]:
for letter in fruit:
    print(letter)

G
r
a
p
e

In [10]:
prefixes = 'JKLMNOPQ'
suffix = 'ack'
for letter in prefixes:
    print(letter + suffix)

Jack
Kack
Lack
Mack
Nack
Oack
Pack
Qack

In [12]:
s = 'Nikhil Baddam'
s[0:7]
s[7: 18]

'Baddam'

In [13]:
fruit[:3]

'Gra'

In [14]:
greeting = 'Good Morning'
new_greeting = 'J' + greeting[1:]
new_greeting

'Jood Morning'

In [15]:
def find(word, letter):
    index = 0
    while index < len(word):
        if word[index] == letter:
            return index
        index = index + 1
return -1

-1

In [17]:
word = 'Paaaper'
count = 0
for letter in word:
    if letter == 'a':
        count = count + 1
print(count)

3

In [19]:
alpha = '[Paaper]'
new_alpha = alpha.upper()
print(new_alpha)
index = alpha.find('p')
print(index)

[PAAPER]
4

In [20]:
'p' in 'paaper'

True

In [30]:
def in_both(word1, word2):
    for letter in word1:
        if letter in word2:
            print(letter)
            
in_both('paper', 'wafer')

a
e
r

In [31]:
def strcomp(fruit):
    if fruit == 'Apples':
        print('An apple a day keeps docter away')
        
strcomp('Apples')

An apple a day keeps docter away

In [32]:
def is_reverse(word1, word2):
    if len(word1) != len(word2):
        return False
        i=0
        j = len(word2)
    while j > 0:
        if word1[i] != word2[j]:
            return False
        i = i+1
        j = j-1
return True

True

In [34]:
def has_no_a(word):
    for letter in word:
        if letter == 'a':
            return False
return True

has_no_a('nikhil')

True

In [35]:
def avoids(word, forbidden):
    for letter in word:
        if letter in forbidden:
            return False
return True

avoids('nikhil')

True

In [36]:
def is_abecedarian(word):
    previous = word[0]
    for c in word:
        if c < previous:
            return False
        previous = c
    return True

is_abecedarian('paper')

False

In [37]:
def is_abecedarian(word): 
    i=0
    while i < len(word)-1:
        if word[i+1] < word[i]:
            return False
        i = i+1
        return True

is_abecedarian('paper')

False

In [39]:
def is_palindrome(word): 
    i=0
    j = len(word)-1
    while i<j:
        if word[i] != word[j]:
            return False
        i = i+1
        j = j-1
    return True

is_palindrome('madam')

True

In [40]:
colors = ['yellow', 'green', 'red']
flowers = ['rose', 'lilly', 'tulasi']
empty = []
print(colors,flowers,empty)

['yellow', 'green', 'red'] ['rose', 'lilly', 'tulasi'] []

In [41]:
colors[1] = 'blue'
print(colors)

['yellow', 'blue', 'red']

In [43]:
'rose' in flowers

True

In [44]:
for i in colors:
    print(colors)

['yellow', 'blue', 'red']
['yellow', 'blue', 'red']
['yellow', 'blue', 'red']

In [45]:
for a in []:
    print('this is useless')

In [46]:
concat1 = colors+flowers
print(concat1)

['yellow', 'blue', 'red', 'rose', 'lilly', 'tulasi']

In [47]:
repeat1 = colors * 4
print(repeat1)

['yellow', 'blue', 'red', 'yellow', 'blue', 'red', 'yellow', 'blue', 'red', 'yellow', 'blue', 'red']

In [48]:
colors[0:2]

['yellow', 'blue']

In [49]:
colors = ['blue', 'yellow', 'red']
colors.append('green')
print(colors)

#sort
a = [3,2,1,4,5,9,7]
a.sort()
print(a)

['blue', 'yellow', 'red', 'green']
[1, 2, 3, 4, 5, 7, 9]

In [50]:
def add_all(t):
    total = 0
    for x in t:
        total += x
    return total

t = [20,10,33,234,836]
add_all(t)

1133

In [51]:
def capitalize_all(t):
    res = []
    for s in t:
        res.append(s.capitalize())
    return res

list = ['nikhil','reddy']
capitalize_all(list)

['Nikhil', 'Reddy']

In [52]:
def only_upper(t):
    res = []
    for s in t:
        if s.isupper():
            res.append(s)
    return res

x = ['THOR','TCHALA']
only_upper(x)

['THOR', 'TCHALA']

In [53]:
abc = colors.pop(1)
print(colors)
print(abc)

['blue', 'red', 'green']
yellow

In [54]:
t = ['a', 'b', 'c']
t.remove('b')
print(t)

['a', 'c']

In [55]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
del t[1:5]
print(t)

['a', 'f']

In [56]:
s = 'Far away in a galaxy'
t = s.split()
t

['Far', 'away', 'in', 'a', 'galaxy']

In [57]:
s = 'space-space-space'
delimiter = '-'
t = s.split(delimiter)
t

['space', 'space', 'space']

In [58]:
a = 'Computational'
b = 'Computational'
a is b

True

In [59]:
a = ['sathwik', 'mattapally']
a = b
b is a

True

In [60]:
def delete_head(t):
    del t[0]
    
letters = ['a', 'b', 'c']
delete_head(letters)
letters

['b', 'c']

In [61]:
t1 = [1, 2]
t2 = t1.append(3)
print(t1)
print(t2)

[1, 2, 3]
None

In [62]:
t3 = t1 + [4]
print(t1)
print(t3)

[1, 2, 3]
[1, 2, 3, 4]

In [64]:
eng2sp = {'one': 'ek', 'two': 'dho', 'three': 'theen'}
print(eng2sp)
print(eng2sp['two'])
print(len(eng2sp))
print('one' in eng2sp)
vals = eng2sp.values()
'ek' in vals

{'one': 'ek', 'two': 'dho', 'three': 'theen'}
dho
3
True

True

In [65]:
def histogram(s):
    d = dict()
    for c in s:
        if c not in d:
            d[c] = 1 
        else:
            d[c] += 1
    return d

histogram('NIKHILREDDYBADDAM')

{'N': 1,
 'I': 2,
 'K': 1,
 'H': 1,
 'L': 1,
 'R': 1,
 'E': 1,
 'D': 4,
 'Y': 1,
 'B': 1,
 'A': 2,
 'M': 1}

In [66]:
h = histogram('a')
print(h)
print(h.get('a', 0))
print(h.get('b', 0))

{'a': 1}
1
0

In [67]:
def print_hist(h):
    for c in h:
        print(c, h[c])
        
h = histogram('NIKHILREDDYBADDAM')
print_hist(h)

N 1
I 2
K 1
H 1
L 1
R 1
E 1
D 4
Y 1
B 1
A 2
M 1

In [68]:
for key in sorted(h):
    print(key, h[key])

A 2
B 1
D 4
E 1
H 1
I 2
K 1
L 1
M 1
N 1
R 1
Y 1

In [69]:
def reverse_lookup(d, v):
    for k in d:
        if d[k] == v:
            return k
    raise LookupError()
    
h = histogram('NIKHILREDDYBADDAM')
key = reverse_lookup(h, 2)
print(key)

I

In [70]:
def invert_dict(d):
    inverse = dict()
    for key in d:
        val = d[key]
        if val not in inverse:
            inverse[val] = [key]
        else:
            inverse[val].append(key)
    return inverse

hist = histogram('NIKHILREDDYBADDAM')
print(hist)
inverse = invert_dict(hist)
print(inverse)

{'N': 1, 'I': 2, 'K': 1, 'H': 1, 'L': 1, 'R': 1, 'E': 1, 'D': 4, 'Y': 1, 'B': 1, 'A': 2, 'M': 1}
{1: ['N', 'K', 'H', 'L', 'R', 'E', 'Y', 'B', 'M'], 2: ['I', 'A'], 4: ['D']}

In [73]:
verbose = True
def example1():
    if verbose:
        print('Displaying example1')

example1()

Displaying example1

In [74]:
t = '1', '2', '3', '4', '5'
print(t)

t1 = ('1', '2', '3', '4', '5')
print(t1)

t2 = ('1')
print(type(t2))

t3 = tuple()
print(t3)

('1', '2', '3', '4', '5')
('1', '2', '3', '4', '5')
<class 'str'>
()

In [75]:
t = ('A',) + t[1:]
t

('A', '2', '3', '4', '5')

In [76]:
(0, 1, 2) < (0, 3, 4)

True

In [77]:
temp = a
a = b
b = temp
print(temp)

a, b = b, a
print(a)

Computational
Computational

In [78]:
def printall(*args):
    print(args)

printall('nikhil','reddy')

('nikhil', 'reddy')

In [79]:
t = [('a', 0), ('b', 1), ('c', 2)]
for letter, number in t:
    print(number, letter)

0 a
1 b
2 c

In [80]:
def has_match(t1, t2):
    for x, y in zip(t1, t2):
        if x == y:
            return True
return False

has_match(t1,t2)

False

In [81]:
d = {'a':0, 'b':1, 'c':2}
t = d.items()
t

dict_items([('a', 0), ('b', 1), ('c', 2)])

In [82]:
for index, element in enumerate('abc'):
    print(index, element)

0 a
1 b
2 c

In [83]:
for key, value in d.items():
    print(key, value)

a 0
b 1
c 2

In [84]:
def friends_of_friend_ids_bad(user):
    return [foaf["id"]
          for friend in user["friends"] 
          for foaf in friend["friends"]]

In [85]:
def predict_paid_or_unpaid(years_experience):
    if years_experience < 3.0:
        return "paid"
    elif years_experience < 8.5:
        return "unpaid"
    else:
        return "paid"

In [86]:
2 + \
3

5

In [87]:
import re
my_regex = re.compile("[0-9]+", re.I)

In [88]:
integer_list = [1, 2, 3]
heterogeneous_list = ["string", 0.1, True]
list_of_lists = [ integer_list, heterogeneous_list, [] ]
list_length = len(integer_list) # equals 3
list_sum = sum(integer_list)
print(list_sum)

6

In [89]:
x = [1, 2, 3]
x.extend([4, 5, 6]) 
x = [1, 2, 3]
y = x + [4, 5, 6]
print(x)
print(y)

[1, 2, 3]
[1, 2, 3, 4, 5, 6]

In [90]:
x = [1, 2, 3]
x.append(0) 
y = x[-1] 
z = len(x) 
print(y)
print(z)

0
4

In [91]:
1 in [1, 2, 3]
0 in [1, 2, 3]

False

In [92]:
def sum_and_product(x, y):
    return (x + y),(x * y)
sp = sum_and_product(2, 3) 
s, p = sum_and_product(5, 10)
print(sp)
print(s,p)

(5, 6)
15 50

In [93]:
x, y = [1, 2] 
print(y)

2

In [94]:
print( 0 / 0)
except ZeroDivisionError:
print ("cannot divide by zero")

SyntaxError: invalid syntax (<ipython-input-94-8d049aa27c02>, line 2)