# Class work 3: Text Classification on IMDB review samples

## Data loading

**Question 1: (10 points)**

Go to [this link](https://unt.instructure.com/courses/12025/files/2443720/download?download_frd=1) to download the data file and upload it to Google Colab. And then run the following commands:

In [0]:
import pickle
import pandas as pd

In [0]:
with open('imdb-review.pickle', 'rb') as f:
    train, test = pickle.load(f)

In [40]:
train.head()

                                                text  sentiment
0  For a movie that gets no respect there sure ar...          1
1  Bizarre horror movie filled with famous faces ...          1
2  A solid, if unremarkable film. Matthau, as Ein...          1
3  It's a strange feeling to sit alone in a theat...          1
4  You probably all already know this by now, but...          1

You should see the output like this:

![](https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-03-25-21-22-19-073406.png)

## sampling

**Question 2: (10 points)**

Sample **2000** rows from original training set. 1000 positive, 1000 negative. To keep all your result identical, please use **`random_state=1`** while sampling. Reset the index of generated data frame, and save it to **`train`**. (Hint: you can refer to[ this document](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sample.html).)

In [67]:
train2=train[train.sentiment>0].sample(n=1000,random_state=1)
train3=train[train.sentiment<=0].sample(n=1000,random_state=1)
frames=[train2,train3]
train=pd.concat(frames)
train.reset_index()

      index                                               text  sentiment
0      4300  I have watched this episode more often than an...          1
1      9536  As many reviewers here have noted, the film ve...          1
2       813  At first,this movie seems so bad that i almost...          1
3     11248  Was this based on a comic-book? A video-game? ...          1
4      1436  Melissa Joan Hart shines! This show is amazing...          1
5      4804  So this made for TV film scores only a 7.6 on ...          1
6      4779  me and my sister use to rent this every time w...          1
7      4642  "THINGS TO COME" Movie Review by kWRice<br /><...          1
8     11605  When the British Film Institute asked Martin S...          1
9      2811  Okay. Yes, this was a very-tight-budget movie ...          1
10       35  One of the most nihilistic and brutal films I'...          1
11     3258  I find myself comparing all stand-up acts to t...          1
12     4292  no movie with dennis hopper, gary busey, erika...          1
13     9999  Amazing acting, music. A simple and clear plot...          1
14     6348  Bruce Almighty is the best Jim Carrey work sin...          1
15     3611  For those that were interested in knowing how ...          1
16     7462  What happens when someone has so much social a...          1
17    10547  I watched this movie once and might watch it a...          1
18     3038  Slaughter High is about a boy named Marty. He ...          1
19     1074  Mean-spirited, ugly, nasty retro-action thrill...          1
20    10764  Went to see this finnish film and I've got to ...          1
21     1847  THis was a hilarious movie and I would see it ...          1
22     5149  I really enjoyed The 60's. Not being of that g...          1
23     7843  This is the French and Belgians doing what the...          1
24      478  OK where do i begin?... This movie changed my ...          1
25    11862  Back in the forties, when movies touched on ma...          1
26    11365  Girlfight is like your grandmother's cooking: ...          1
27      146  Those who love Elivra as I did in her late nig...          1
28    10960  If you want to be cynical and pedantic you cou...          1
29     6249  Well, if you are looking for a great mind cont...          1
...     ...                                                ...        ...
1970  24338  When a man who doesn't have Alzheimer's can't ...          0
1971  24872  This was longer than the Ten Commandments, All...          0
1972  24888  *Spoiler warning*<br /><br />First of all I ra...          0
1973  19775  A great concept gone wrong. Poor acting, even ...          0
1974  23136  This film is really unbelievable. I've seen so...          0
1975  21538  1st watched 12/6/2009 - 4 out of 10 (Dir-Walte...          0
1976  21842  This review is based on the dubbed Shock-o-Ram...          0
1977  19955  The saddest part of this is the fact that thes...          0
1978  17081  There is absolutely NO reason to waste your ti...          0
1979  20153  What begins as a fairly clever farce about a s...          0
1980  23151  When the folks at Kino Video assembled their f...          0
1981  14488  If you see this turkey listed in your TV guide...          0
1982  23821  ... Bad at being intentionally bad...<br /><br...          0
1983  13142  Here we go with other slasher movie, Good look...          0
1984  20205  This movie masquerades as a social commentary,...          0
1985  23191  It must have been excruciating to attend the d...          0
1986  20064  Woody Allen made "September", proving that eve...          0
1987  18674  <br /><br />I watched this movie just a little...          0
1988  20136  "Unhinged" is one strange little film, a forgo...          0
1989  23485  I thought that this movies was a letdown I exp...          0
1990  13624  What's that there in the skies? Is it a plane?...          0
1991  23842  Even Steve Martin and Dan Aykroyd couldn't sav...          0
1992  16315  Whatever happened to British TV drama? From Jo...          0
1993  18827  Sure it takes place in the west, but the title...          0
1994  16328  A few years back the same persons who created ...          0
1995  19205  Is rich, ailing Elizabeth Taylor courting the ...          0
1996  24805  The movie itself is not too bad; many comments...          0
1997  15870  I feel much less generous with this film than ...          0
1998  24185  It SURPRISINGLY had a plot! ;) I've seen movie...          0
1999  20062  This movie could have been 15 minutes long if ...          0

[2000 rows x 3 columns]

In [63]:
train.head()

                                                    text  sentiment
4300   I have watched this episode more often than an...          1
9536   As many reviewers here have noted, the film ve...          1
813    At first,this movie seems so bad that i almost...          1
11248  Was this based on a comic-book? A video-game? ...          1
1436   Melissa Joan Hart shines! This show is amazing...          1

You should see the output like this:

![](https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-03-25-21-22-32-893523.png)

In [64]:
train.tail()

                                                    text  sentiment
19205  Is rich, ailing Elizabeth Taylor courting the ...          0
24805  The movie itself is not too bad; many comments...          0
15870  I feel much less generous with this film than ...          0
24185  It SURPRISINGLY had a plot! ;) I've seen movie...          0
20062  This movie could have been 15 minutes long if ...          0

You should see the output like this:

![](https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-03-25-21-22-52-059518.png)

**Question 3: (10 points)**

Sample **1000** rows from original test set. 500 positive, 500 negative. To keep all your result identical, please use **`random_state=1`** while sampling. Reset the index of generated data frame, and save it to **`test`**. (Hint: you can refer to[ this document](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sample.html).)

In [68]:
test2=test[test.sentiment>0].sample(n=500,random_state=1)
test3=test[test.sentiment<=0].sample(n=500,random_state=1)
frames=[test2,test3]
test=pd.concat(frames)
test.reset_index()

     index                                               text  sentiment
0     4300  Bug Juice changed my life. I Know it sounds st...          1
1     9536  As many of today's movies are guilty of, the p...          1
2      813  This is one of the best movies I have ever see...          1
3    11248  This movie took me by surprise. The opening cr...          1
4     1436  I am salivating for the sequels. I needed some...          1
5     4804  Garlin is unquestionably a comedian's comedian...          1
6     4779  The greatest effort plus the finest cast ever ...          1
7     4642  This really is a movie that you need to see tw...          1
8    11605  I really liked this one. (SPOILERS??) It had a...          1
9     2811  This is a VERY good movie. I give it a 10.<br ...          1
10      35  This is a well done action movie. There are pl...          1
11    3258  There are too many people on this board who ha...          1
12    4292  This sequel proves that Tim Burton was for all...          1
13    9999  Right, here we go, you have probably read in p...          1
14    6348  In many ways, the filmic career of independent...          1
15    3611  I watch this movie every time it plays on TV. ...          1
16    7462  Highlighting the acting of Sidney Poitier and ...          1
17   10547  Uzak (2002), a Turkish film shown in the U.S. ...          1
18    3038  I watch a lot of Vampire movies. I KNOW vampir...          1
19    1074  I saw this on TCM recently and, through the IM...          1
20   10764  The film is excellent. One of the most notewor...          1
21    1847  The first feature length Muppet Movie, and exc...          1
22    5149  This is one of the Stooges best shorts. It was...          1
23    7843  i am an avid ff7 fan, for instance i have the ...          1
24     478  My teacher did this movie. It's a new beginnin...          1
25   11862  Bwana Devil is reputedly the first major studi...          1
26   11365  I first viewed "They Died With There Boots On"...          1
27     146  i can't believe people are giving bad reviews ...          1
28   10960  Superb silent version of the story of Francois...          1
29    6249  This film is undoubtedly one of the greatest l...          1
..     ...                                                ...        ...
970  18265  Roger Corman has enjoyed his shares of cinemat...          0
971  24417  This movie should have been billed as three mo...          0
972  14942  Stay away from this movie. Far away. Phil Fond...          0
973  24762  Wasted is just that, a waste of time. MTV is c...          0
974  22807  One of the commentators on the subject of Lil'...          0
975  21920  I wish I could have given this a Zero. Sure I'...          0
976  22831  This movie is not worth a descend review, it j...          0
977  19209  From watching the trailer, the movie looked pr...          0
978  16070  I caught a screening of this at the True/False...          0
979  18405  L'Auberge Espagnole is less funny and less int...          0
980  15527  pretty disappointing. i was expecting more of ...          0
981  16125  I have done some research on Ed Gien, and I ha...          0
982  24834  I really liked this movie. Number 5, the star ...          0
983  17753  I had enjoyed the Masters of Horror Series unt...          0
984  13932  'Book II' isn't a film, it's a sermon. This na...          0
985  14368  Wow. I thought, Eskimo Limon was the most awfu...          0
986  19657  If you're an average guy like me and enjoy goo...          0
987  16149  I couldn't help but look at the time every 5 t...          0
988  24957  This is a rip-off of already crappy hollywood ...          0
989  19805  Only in the Hollywood audiovisual fiction worl...          0
990  17145  When Pam Grier made COFFY in 1973, it was an e...          0
991  19117  <br /><br />I understand that people have diff...          0
992  22241  I am a German student so sorry for eventually ...          0
993  17969  What can I say after I say the one line summar...          0
994  16443  Nightkill stars Robert Mitchum as a world-wear...          0
995  15979  This is my opinion of this movie, expressed in...          0
996  22182  Why can't a movie be rated a zero? Or even a n...          0
997  20116  The Gun is probably the worst film I've ever s...          0
998  24234  If you are thinking of going to see this film ...          0
999  21863  This movie was like a gathering of people that...          0

[1000 rows x 3 columns]

In [69]:
test.head()

                                                    text  sentiment
4300   Bug Juice changed my life. I Know it sounds st...          1
9536   As many of today's movies are guilty of, the p...          1
813    This is one of the best movies I have ever see...          1
11248  This movie took me by surprise. The opening cr...          1
1436   I am salivating for the sequels. I needed some...          1

You should see the output like this:

![](https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-03-25-21-23-06-418103.png)

In [70]:
test.tail()

                                                    text  sentiment
15979  This is my opinion of this movie, expressed in...          0
22182  Why can't a movie be rated a zero? Or even a n...          0
20116  The Gun is probably the worst film I've ever s...          0
24234  If you are thinking of going to see this film ...          0
21863  This movie was like a gathering of people that...          0

You should see the output like this:

![](https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-03-25-21-23-16-486933.png)

## Classification with TextBlob

**Question 4: (30 points)**

Use [textblob](https://textblob.readthedocs.io/en/dev/quickstart.html#sentiment-analysis) to do sentiment analysis on **test** data, and make a **`classification_report`** using the prediction result and real sentiment labels. (Hint: you can refer to [this link](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.classification_report.html) for documentation.)

In [0]:
from textblob import TextBlob

In [0]:
pred=[]
for x in range(len(test.text)):
  test_str=test.iloc[x].text
  blob=TextBlob(test_str)
  a=blob.sentiment.polarity
  if(a<=0):
    pred.append(0);
  else:
    pred.append(1);

In [0]:
def get_sentiment(text):
  pred=TextBlob(text).sentiment[0]
  if pred > 0:
    return 1
  else:
    return 0

In [0]:
test["pred"]=test.text.apply(get_sentiment)

In [0]:
from sklearn import metrics

In [83]:
print(metrics.classification_report(test.sentiment, test.pred))

              precision    recall  f1-score   support

           0       0.91      0.43      0.59       500
           1       0.63      0.96      0.76       500

   micro avg       0.69      0.69      0.69      1000
   macro avg       0.77      0.69      0.67      1000
weighted avg       0.77      0.69      0.67      1000

You should see the output like this:

![](https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-03-25-21-23-27-649327.png)

## Classification with Scikit-learn

**Question 5: (40 points)**

Train a [MultinomialNB Model](https://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.MultinomialNB.html) from Scikit-learn with the **train** data. Make sure you convert the text data into high dimensional (2000) vectors with [CountVectorizer](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html), and using proper parameters to filter the tokens. Then do sentiment analysis on **test** data, and make a **`classification_report`** using the prediction result and real sentiment labels. (Hint: you can refer to [this link](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.classification_report.html) for documentation.)

In [0]:
from sklearn.feature_extraction.text import CountVectorizer

In [88]:
vect = CountVectorizer(stop_words='english', token_pattern =u'(?u)\\b[^\\d\\W]\\w+\\b', max_df=0.8, min_df=2, max_features=2000)
vect.fit_transform(train.text)

<2000x2000 sparse matrix of type '<class 'numpy.int64'>'
	with 114420 stored elements in Compressed Sparse Row format>

In [0]:
X_train = vect.fit_transform(train.text)
y_train = train.sentiment

In [0]:
from sklearn.naive_bayes import MultinomialNB

In [0]:
nb = MultinomialNB()

In [93]:
nb.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [0]:
X_test = vect.transform(test.text)
y_test = test.sentiment

In [0]:
y_pred = nb.predict(X_test)

In [97]:
y_test

4300     1
9536     1
813      1
11248    1
1436     1
4804     1
4779     1
4642     1
11605    1
2811     1
35       1
3258     1
4292     1
9999     1
6348     1
3611     1
7462     1
10547    1
3038     1
1074     1
10764    1
1847     1
5149     1
7843     1
478      1
11862    1
11365    1
146      1
10960    1
6249     1
        ..
18265    0
24417    0
14942    0
24762    0
22807    0
21920    0
22831    0
19209    0
16070    0
18405    0
15527    0
16125    0
24834    0
17753    0
13932    0
14368    0
19657    0
16149    0
24957    0
19805    0
17145    0
19117    0
22241    0
17969    0
16443    0
15979    0
22182    0
20116    0
24234    0
21863    0
Name: sentiment, Length: 1000, dtype: int64

In [98]:
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.79      0.85      0.82       500
           1       0.84      0.78      0.81       500

   micro avg       0.81      0.81      0.81      1000
   macro avg       0.82      0.81      0.81      1000
weighted avg       0.82      0.81      0.81      1000

You should see the output like this:

![](https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-03-25-21-23-45-528500.png)